.App {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
.navbar-container {
  height: 10%;
  background-color: #2f302c;
  color: white;
  display: flex;
  align-items: center;
  padding: 24px 64px;
  gap: 80px;
  flex-shrink: 0;
}
.logo-container {
  display: flex;
  padding: 1px 0px;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}
.logo-icon svg {
  width: 23px;
  height: 22.943px;
}

.logo-text {
  color: #fff;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
}

.menu-conatiner {
  display: flex;
  align-items: center;
  gap: 44px;
  flex: 1 0 0;
}
.anchor-link {
  color: white;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

.more div.submenu {
  display: none;
  position: absolute;
  background-color: #333;
  border: 1px solid #333;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
}

.more:hover div.submenu {
  display: block;
}
.main-container {
  flex-grow: 1;
}

.heading {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-weight: 800;
  color: #231f20;
  font-family: Lato;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 42px;
}

.description {
  color: #231f20;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.menu-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.menu {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  flex-grow: 1;
}

.menu div {
  padding: 10px;
  border: none;
  cursor: pointer;
}

.more {
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 0;
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.submenu div {
  padding: 10px;
  border-top: 1px solid #ccc;
  cursor: pointer;
}

.submenu a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.more:hover .submenu {
  display: block;
}

@media (max-width: 768px) {
  .menu {
    flex-direction: flex;
  }
  .more {
    order: 1;
  }
  .submenu {
    display: none;
  }
  .more:hover .submenu {
    display: block;
  }
}
.menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.menu div {
  padding: 10px;
  flex-grow: 1;
  max-width: 150px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-conatiner {
  display: flex;
  padding: 12px 0px;
  align-items: center;
  /* gap: 12px; */
  /* flex: 1 0 0; */
  border-bottom: 1px solid #d4d4d4;
}
input {
  background: transparent;
  border: none;
}

/* Carasoul Css */

/* Carousel container */
.carousel-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  user-select: none;
  padding-top: 20rem;
}

/* Carousel items */
.carousel-content {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex-shrink: 0;
  width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  /* transition: opacity 0.3s ease-in-out; */
}

.carousel-item img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  opacity: 0.8;
  /* transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; */
  cursor: pointer;
}

/* Show active item with full opacity */
.carousel-item.active img {
  opacity: 1;
}

/* Hover effect to scale and change opacity */
.carousel-item:hover img {
  /* transform: scale(1.05); */
  opacity: 1;
}

/* Arrows for navigation */
.arrow-class {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.arrow-class svg {
  width: 24px;
  height: 24px;
}
.round {
  width: 12px;
  height: 10px !important;
}

.round.active {
  fill {
    background-color: blue;
  }
}

.arrow {
  font-size: 24px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  outline: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}
